/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%; }

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 5em; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em; }

button {
  padding: 1em;
  font-family: 'Quattrocento', serif;
  border-width: 2px;
  box-shadow: none;
  border-radius: 12px;
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }

.hidden-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  border-radius: 12px; }

.table {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 5em;
  border-collapse: separate; }

.row {
  display: table-row; }

.cell {
  display: table-cell;
  position: relative;
  border: solid #4AAAA5; }

.round-corners {
  border-radius: 15px; }

.italic {
  font-style: italic; }

.center {
  text-align: center; }

.orange {
  color: #E45F56; }

.green {
  color: #A3D39C; }

.light-blue-green {
  color: #7ACCC8; }

.blue-green {
  color: #4AAAA5; }

.dark-blue {
  color: #35404F; }

#main-page {
  width: 100%;
  height: 100%;
  overflow: auto; }
  #main-page #main-page-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #main-page #main-page-content h2 {
      margin-top: 1em;
      margin-bottom: 1em; }
    #main-page #main-page-content button {
      font-size: 1.2em;
      background-color: transparent;
      color: #35404F;
      border: solid #35404F;
      border-width: 2px;
      margin-left: 1em;
      margin-right: 1em; }
    #main-page #main-page-content button:hover {
      background-color: #35404F;
      color: white; }

#who-is-alice-page {
  width: 100%;
  height: 100%;
  overflow: auto; }
  #who-is-alice-page h1 {
    margin-top: 1em;
    margin-bottom: 1em; }
  #who-is-alice-page h2 {
    width: 70%;
    text-align: justify;
    line-height: 130%;
    margin: 0 auto;
    margin-bottom: 1em; }
    #who-is-alice-page h2 span:hover {
      text-decoration: underline; }

#projects-page {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto; }
  #projects-page h1 {
    margin-top: 1em;
    margin-bottom: 1em; }
  #projects-page #projects-list {
    margin: auto;
    position: relative; }
    #projects-page #projects-list ul li {
      text-align: center;
      padding: 2em; }
      #projects-page #projects-list ul li h2 {
        color: #4AAAA5; }
      #projects-page #projects-list ul li p {
        font-family: 'Quattrocento', serif;
        font-size: 1em;
        line-height: 120%;
        margin-top: 1em;
        margin-bottom: 1em; }
      #projects-page #projects-list ul li button {
        font-size: 1.2em;
        background-color: white;
        color: #4AAAA5;
        border: solid white;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      #projects-page #projects-list ul li button:hover {
        text-decoration: underline; }
  #projects-page #projects-list ul li:hover .hidden-buttons {
    display: block;
    background: rgba(74, 170, 165, 0.7); }
  #projects-page button {
    font-size: 1.2em;
    background-color: white;
    color: #4AAAA5;
    border: solid #4AAAA5;
    border-width: 2px; }
  #projects-page button:hover {
    background-color: #4AAAA5;
    color: white; }

#follow-me-page {
  width: 100%;
  height: 100%;
  overflow: auto; }
  #follow-me-page #follow-me-page-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #follow-me-page h2 {
    margin-top: 1em;
    margin-bottom: 1em; }
  #follow-me-page button {
    font-size: 1.2em;
    background-color: transparent;
    color: #35404F;
    border: solid #35404F;
    border-width: 2px;
    margin-left: 1em;
    margin-right: 1em; }
  #follow-me-page button:hover {
    background-color: #35404F;
    color: white; }

/*
font-family: 'Raleway', sans-serif;
font-weight: 400;

font-family: 'Bitter', serif;
font-weight: 700;

	div{	
		@include split-in-five;
		display: inline-block;
		text-align: center;
		vertical-align: middle;

		font-size: 10em;
		opacity: 0.7;
    	filter: alpha(opacity=70);
	}

			li:after{
			position: absolute;
			visibility: hidden;
			content:"bout";
 
		}

		li:hover:after{
			visibility: visible;
		}

			ul{
		display: table-row;
		color: white;
		font-size: 10em;

		li{
			@include split-in-five;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			opacity: 0.9;
    		filter: alpha(opacity=90);

    		span{
    			width: auto;
    			display: block;
    			border: solid red;
    			border-width: 1px;
    		}
		}

		#a-about{
			background-color: $orange;
		}

		#l-projects{
			background-color: $green;
		}

		#i-none{
			background-color: $light-blue-green;
		}

		#c-contacts{
			background-color: $blue-green;
		}

		#e-none{
			background-color: $dark-blue;
		}

	}
*/

/*# sourceMappingURL=styles.css.map */
